<form #gfgform = "ngForm" (ngSubmit)="onClickSubmit(gfgform)" class="form">
    <br>
    <br>
    <label>Identificador</label> <input type="text" name = 'Identificador' ngModel>
    <label>Nombres</label> <input type="text" name = 'Nombres' ngModel>
    <label>Apellidos</label><input type="text" name = 'Apellidos' ngModel>
    <label>Numero de identificacion</label> <input type="text" name = 'Numero_identificacion' ngModel>
    <label>Correo</label> <input type="text" name = 'Email' ngModel>
    <label>Tipo de identificador</label> <input type="text" name = 'Tipo_identificacion' ngModel>
    <label>Fecha de creacion</label> <input type="date" name = 'Fecha_de_creacion' ngModel>
    <button type="submit" class="button">Guardar</button>
  </form>