<form #gfgform = "ngForm" (ngSubmit)="onClickSubmit(gfgform)" class="form">
    <br>
    <br>
    <label class="text-left ml-3">Identificador</label> <input type="text" name = 'Identificador' ngModel class="border-4 my-2">
    <label class="text-left ml-3">Nombres</label> <input type="text" name = 'Nombres' ngModel class="border-4 my-2">
    <label class="text-left ml-3">Apellidos</label><input type="text" name = 'Apellidos' ngModel class="border-4 my-2">
    <label class="text-left ml-3">Numero de identificacion</label> <input type="text" name = 'Numero_identificacion' ngModel class="border-4 my-2">
    <label class="text-left ml-3">Correo</label> <input type="text" name = 'Email' ngModel class="border-4 my-2">
    <label class="text-left ml-3">Tipo de identificador</label> <input type="text" name = 'Tipo_identificacion' ngModel class="border-4 my-2">
    <label class="text-left ml-3">Fecha de creacion</label> <input type="date" name = 'Fecha_de_creacion' ngModel class="border-4 my-2">
    <button type="submit" class="border-4 p-3 m-3 bg-blue-200 font-bold">Guardar</button>
  </form>